.sidebar {

  /* width: 260px; */

  background: linear-gradient(
      180deg,
      #1f2937,
      #111827
  );

  color: white;

  min-height: 100vh;

  padding: 20px;
  font-family: 'Inter', sans-serif;
}
.logoImg{
    width:170px;
    height:60px;
}
.sidebar ul {

  list-style: none;
  padding: 0;
  /* border: 2px solid white; */
  margin:0;
}

.sidebar li {

  padding: 8px;
  margin-bottom: 5px;

  border-radius: 12px;

  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  color: #f2f4f8;
}

.sidebar li:hover {

  background: #d4af37;
  color: #FFF;
}
li.active {
  background: #d4af37;
  color: #FFF;
}

.textul{
    color: #9aa8bc;
    font-size: 11px;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
}