<div class="card shadow-lg p-4" style="width: 600px;">

    <h3 class="text-center mb-4">
        Credits Given
    </h3>

    <!-- Customer Name -->
    <div class="row mb-3 align-items-center">
        <label class="col-md-4 col-form-label fw-semibold">
            Customer Name
        </label>

        <div class="col-md-8">
            <input
                type="text"
                class="form-control"
                [(ngModel)]="customerName"
                placeholder="Enter customer name">
        </div>
    </div>

    <!-- Customer Phone -->
    <div class="row mb-3 align-items-center">
        <label class="col-md-4 col-form-label fw-semibold">
            Mobile Number
        </label>

        <div class="col-md-8">
            <input
                type="text"
                class="form-control"
                [(ngModel)]="mobileNumber"
                placeholder="Enter customer phonenumber"
                maxlength="10"
                >
        </div>
    </div>

    <!-- Credit Amount -->
    <div class="row mb-4 align-items-center">
        <label class="col-md-4 col-form-label fw-semibold">
            Credit Amount
        </label>

        <div class="col-md-8">
            <input
                type="text"
                class="form-control"
                [(ngModel)]="creditAmount"
                placeholder="Enter credit amount"
                appCommaNumber>
        </div>
    </div>

    <!-- Buttons -->
    <div class="d-flex justify-content-center gap-3">

        <button
            type="button"
            class="btn btn-outline-secondary px-4"
            (click)="cancel()">
            Cancel
        </button>

        <button
            type="button"
            class="btn btn-success px-4"
            (click)="save()">
            Save
        </button>

    </div>

</div>
<app-modal [isVisible]="isModalOpen" 
  [message]="validMessage"
  [icon]="iconValue"
  [textColor]="textColor"
  (close)="isModalOpen = false"></app-modal>