<div class="header">
  <div class="row">
    <div class="welcome-badge col-md-3 ms-2 my-auto">
        <span class="pulse-dot"></span>
        <span>Welcome, <strong>{{ username || 'User' }}</strong></span>
    </div>

    <!-- Right Side: Content Box -->
    <div class="col-auto p-3 rounded ms-auto">
        <div class="d-flex justify-content-between align-items-center w-100">
            
            <!-- Notification Bell: Pushed to the far right -->
            <i class="bi bi-bell fs-4 ms-4 me-2 fw-bold"></i>  

        </div>
    </div>
  </div>
</div>